@font-face {
  font-display: swap;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HelveticaNeue-Medium.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Helvetica Neue", sans-serif;
}

:root {
  --clr-black: #000;
  --clr-white: #fff;
  --clr-hover: #4762FF;
  --clr-link: #333333;
  --clr-gray-opacity10: #3333331A;
  --clr-gray-opacity60: #33333399;
  --clr-gray-opacity70: #333333B2;
  --clr-gray-opacity80: #333333CC;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-site {
  position: fixed;
  top: 0;
  background-color: var(--clr-white);
  width: 100%;
}

.header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 72px;
  padding: 26px 170px;
  gap: 20px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1019607843);
}

.header-top a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--clr-gray-opacity70);
  transition: all 0.3s;
}

.header-top p ~ a {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: var(--clr-gray-opacity70);
  transition: all 0.3s;
}

.header-top p ~ a:hover {
  cursor: pointer;
  color: var(--clr-hover);
}

.header-top-wrapper {
  border-left: 1px solid rgba(51, 51, 51, 0.1019607843);
  padding-left: 9px;
  padding-right: 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.header-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0;
  border-bottom: 1px solid var(--clr-gray-opacity10);
}

.header-bottom div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.header-navbar {
  display: flex;
  gap: 46px;
}

.header-navbar a {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--clr-link);
  transition: all 0.3s;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.header-navbar a:hover {
  cursor: pointer;
  color: var(--clr-hover);
}

.image-section-wrapper {
  margin-top: 149px;
}

.image-section-wrapper {
  background-image: url(../images/Factory-image.png);
  width: 100%;
  height: 566px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image-title {
  width: 582px;
  height: 147px;
  padding: 110px 0 122px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-title h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--clr-white);
  transition: all 0.3s;
  text-transform: uppercase;
}

.image-title p {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: var(--clr-white);
  transition: all 0.3s;
  width: 496px;
  height: 87px;
  padding: 16px 0 32px 0;
}

.image-title a {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: var(--clr-white);
  transition: all 0.3s;
  width: 196px;
  height: 52px;
  margin-top: 16px;
  padding: 15px 30px;
  border-radius: 8px;
  background-color: var(--clr-hover);
  text-align: center;
}

.image-title a:hover {
  cursor: pointer;
  color: var(--clr-hover);
  background-color: white;
  border: 1px solid #4762ff;
}

.image-title a:active {
  color: var(--clr-black);
  background-color: var(--clr-hover);
  border: 1px solid black;
}

.logo-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
}

.logo-link a {
  color: var(--clr-link);
}

.search-wrapper {
  display: flex;
  gap: 20px;
}

.search-wrapper input {
  border: none;
  width: 117px;
}

.contact-btn a {
  width: 170px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #4762ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  vertical-align: middle;
  color: white;
  transition: all 0.4s;
}
.contact-btn a:hover {
  cursor: pointer;
  color: #4762ff;
  background-color: white;
  border: 1px solid #4762ff;
}

.contact-btn a:active {
  color: black;
  background-color: #4762ff;
  border: 1px solid black;
}

.about-section-wrapper {
  padding: 68px 0 77px 0;
  display: flex;
  justify-content: space-between;
}

.about-text-wrapper h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: var(--clr-black);
  transition: all 0.3s;
  width: 542px;
  letter-spacing: 0%;
}

.about-text-wrapper p {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--clr-black);
  transition: all 0.3s;
  width: 542px;
  padding: 16px 0;
  letter-spacing: 0%;
}

.about-text-wrapper a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: var(--clr-white);
  transition: all 0.3s;
  width: 196px;
  height: 52px;
  margin: 79px 0 0 344px;
  gap: 6px;
  padding: 15px 48px;
  border-radius: 6px;
  background-color: #4762ff;
  text-align: center;
}

.about-text-wrapper a:hover {
  cursor: pointer;
  color: var(--clr-hover);
  background-color: var(--clr-white);
  border: 1px solid var(--clr-hover);
}

.about-text-wrapper a:active {
  color: var(--clr-black);
  background-color: var(--clr-hover);
  border: 1px solid var(--clr-black);
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.catalog-title-name {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: var(--clr-black);
  transition: all 0.3s;
  width: 540px;
  height: 59px;
  text-align: center;
}

.catalog {
  width: 1200px;
  display: flex;
  justify-content: center;
  gap: 26px;
  margin: 64px 0 58px 0;
}
.catalog__box {
  width: 250px;
  height: 332px;
  border-radius: 6px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.catalog__wrapper {
  padding-left: 19px;
}
.catalog__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  vertical-align: middle;
}
.catalog__name {
  font-weight: 700;
  line-height: 20px;
  color: var(--clr-gray-opacity80);
}
.catalog__span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: var(--clr-gray-opacity60);
}
.catalog__btn {
  margin-top: 14px;
  width: 213px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #4762ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 158%;
  text-align: center;
  vertical-align: middle;
  color: white;
  transition: all 0.4s;
}
.catalog__btn:hover {
  cursor: pointer;
  color: #4762ff;
  background-color: white;
  border: 1px solid #4762ff;
}

.cabin-design-section {
  height: 636px;
}

.cabin {
  padding-top: 7px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.cabin__wrapper {
  width: 873px;
  height: 150px;
}
.cabin__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 100%;
  color: var(--clr-link);
  transition: all 0.3s;
  text-align: center;
  padding-bottom: 10px;
}
.cabin__content {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: var(--clr-gray-opacity80);
  transition: all 0.3s;
  text-align: center;
}
.cabin__img {
  padding-right: 10px;
}

.partner-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  color: var(--clr-link);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  padding: 67px 0 31px 0;
  text-align: center;
}

.partner-logos img {
  margin-left: 50px;
  margin-bottom: 57px;
}/*# sourceMappingURL=main.css.map */