:root {
    --clr-black: #000;
    --clr-white: #fff;
    --clr-hover: #4762FF;
    --clr-link: #333333;
    --clr-hover-light: #4d8de0a9;
    --clr-footer-black: #1A1A1A;
    --clr-white-opacity80: #FFFFFFCC;
    --clr-gray-opacity10: #3333331A;
    --clr-gray-opacity60: #33333399;
    --clr-gray-opacity70: #333333B2;
    --clr-gray-opacity80: #333333CC;
}