:root {
    --clr-black: #000;
    --clr-white: #fff;
    --clr-hover: #4762FF;
    --clr-link: #333333;
    --clr-gray-opacity60: #33333399;
    --clr-gray-opacity70: #333333B2;
    --clr-gray-opacity80: #333333CC;
}