.about-section-wrapper {
    padding: 68px 0 77px 0;
    display: flex;
    justify-content: space-between;
  }
  .about-text-wrapper h2 {
    width: 542px;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .about-text-wrapper p {
    width: 542px;
    padding: 16px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .about-text-wrapper a {
    @include Display($Justify: start);
    width: 196px;
    height: 52px;
    margin: 79px 0 0 344px;
    gap: 6px;
    padding: 15px 48px;
    border-radius: 6px;
    background-color: #4762ff;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: var(--clr-white);
    transition: all 0.4s;
  }
  .about-text-wrapper a:hover {
    cursor: pointer;
    color: var(--clr-hover);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-hover);
  }
  .about-text-wrapper a:active {
    color: var(--clr-black);
    background-color: var(--clr-hover);
    border: 1px solid var(--clr-black);
  }