.about-section-wrapper {
    padding: 68px 0 77px 0;
    display: flex;
    justify-content: space-between;
  }
  .about-text-wrapper h2 {
    @include TextStyle($fw: 700, $fs: 48px, $lh: 100%, $clr:var(--clr-black));
    width: 542px;
    letter-spacing: 0%;
  }
  .about-text-wrapper p {
    @include TextStyle($fw: 400, $fs: 18px, $lh: 100%, $clr:var(--clr-black));
    width: 542px;
    padding: 16px 0;
    letter-spacing: 0%;
  }
  .about-text-wrapper a {
    @include Display($Justify: start);
    @include TextStyle($fw: 700, $fs: 18px, $lh: 100%, $clr:var(--clr-white));
    width: 196px;
    height: 52px;
    margin: 79px 0 0 344px;
    gap: 6px;
    padding: 15px 48px;
    border-radius: 6px;
    background-color: #4762ff;
    text-align: center;
  }
  .about-text-wrapper a:hover {
    cursor: pointer;
    color: var(--clr-hover);
    background-color: var(--clr-white);
    border: 1px solid var(--clr-hover);
  }
  .about-text-wrapper a:active {
    color: var(--clr-black);
    background-color: var(--clr-hover);
    border: 1px solid var(--clr-black);
  }