.header-top {
  @include Display();
    height: 72px;
    padding: 26px;
    gap: 20px;
    border-bottom: 1px solid #3333331a;
  }
  .header-top a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
   
  .header-top p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--clr-gray-opacity70);
  }
  
  .header-top p ~ a {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--clr-gray-opacity70);
    transition: all 0.3s;
  }
  
  .header-top p ~ a:hover {
    cursor: pointer;
    color: var(--clr-hover);
  }
  
  .header-top-wrapper {
    border-left: 1px solid #3333331a;
    padding-left: 9px;
    padding-right: 9px;
    @include Display($Justify:start);
  }
  
  .header-bottom {
   @include Display($Justify:space-between);
    padding: 18px 0;
  }
  
  .header-bottom div {
   @include Display($Justify:start);
  }

  .header-navbar {
    display: flex;
    gap: 46px;
  }
  
  .header-navbar a {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--clr-link);
  }
  .header-navbar a:hover {
    cursor: pointer;
    color: var(--clr-hover);
  }