.header-site {
  position: fixed;
  top: 0;
  background-color: var(--clr-white);
  width: 100%;
}
.header-top {
  @include Display($Justify: end, $direction:row);
    height: 72px;
    padding: 26px 60px;
    gap: 20px;
    border-bottom: 1px solid #3333331a;
  }
  .header-top a {
    display: flex;
    align-items: center;
    gap: 8px;
  }
   
  .header-top p {
    @include TextStyle($fw: 400, $fs: 16px, $lh: 100%, $clr:var(--clr-gray-opacity70));
  }
  
  .header-top p ~ a {
    @include TextStyle($fw: 400, $fs: 16px, $lh: 100%, $clr:var(--clr-gray-opacity70));
  }
  
  .header-top p ~ a:hover {
    cursor: pointer;
    color: var(--clr-hover);
  }
  
  .header-top-wrapper {
    position: relative;
    @include Display($Justify:start);
    border-left: 1px solid #3333331a;
    padding: 14px 11px;
    gap: 5px;
    cursor: pointer;
    transition: all 0.3s;
    
    &:hover {
      background-color: var(--clr-hover);
      border-left: 1px solid var(--clr-white);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      color: var(--clr-white);
    }

    &:hover > .header-top__popup {
      height: 88px;
      padding: 5px;  
    }
    & > div > span ~ svg {
      transition: transform 0.3s;
    }

    &:hover > div > span ~ svg {
      transform: rotate(180deg);
    }
  }
  .header-top__popup {
    position: absolute;
    background-color: var(--clr-hover);
    top: 46px;
    width: 100%;
    left: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 0;
    overflow: hidden;
    transition: all 0.3s;

    & >li {
      text-align: center;
      padding: 10px 0;
      color: var(--clr-white);

      &:hover {
        background-color: var(--clr-white);
        border-radius: 10px;
        color: var(--clr-black);
      }
    }
  }
  .header-top-lang-wrapper {
    @include Display($Justify:start);
    gap: 5px;
  }
  
  .header-bottom {
   @include Display($Justify:space-around);
    padding: 18px 0;
    border-bottom: 1px solid var(--clr-gray-opacity10);
  }
  
  .header-bottom div {
   @include Display($Justify:start);
  }

  .header-navbar {
    display: flex;
    gap: 46px;
  }
  
  .header-navbar a {
    @include TextStyle($fw: 500, $fs: 16px, $lh: 100%, $clr:var(--clr-link));
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .header-navbar a:hover {
    cursor: pointer;
    color: var(--clr-hover);
  }