.image-section-wrapper {
    background-image: url(../images/Factory-image.png);
    width: 100%;
    height: 566px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .image-title {
    width: 582px;
    height: 147px;
    padding: 110px 0 122px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .image-title h2 {
    @include TextStyle($fw: 700, $fs: 40px, $lh: 100%, $clr:var(--clr-white));
    text-transform: uppercase;
  }
  .image-title p {
    @include TextStyle($fw: 400, $fs: 24px, $lh: 100%, $clr:var(--clr-white));
    width: 496px;
    height: 87px;
    padding: 16px 0 32px 0;
  }
  .image-title a {
    @include TextStyle($fw: 600, $fs: 18px, $lh: 100%, $clr:var(--clr-white));
    width: 196px;
    height: 52px;
    margin-top: 16px;
    padding: 15px 30px; 
    border-radius: 8px;
    background-color: var(--clr-hover);
    text-align: center;
  }
  .image-title a:hover {
    cursor: pointer;
    color: var(--clr-hover);
    background-color: white;
    border: 1px solid #4762ff;
  }
  .image-title a:active {
    color: var(--clr-black);
    background-color: var(--clr-hover);
    border: 1px solid black;
  }